body {
  margin: 0px;
}
navbar ul li {
  display: inline-block;
}
li a {
  padding: 20px;
  margin: 0px;
  font-family: Josefin Sans;
  font-size: 20px;
  color: rgb(56, 64, 227);
  text-decoration: none;
  transition-duration: 0.7s;
}

li a:hover {
  background-color: rgb(78, 21, 132);
  text-decoration: none;
  border-radius: 10%;
  color: aquamarine;
}

navbar ul {
  position: fixed;
  background-color: rgb(179, 203, 225);
  border-bottom: 2px solid #ccc;
  padding: 20px;
  right: 50px;
}

.header {
  padding: 100px;
  margin: 0px;
  background-image: url(contact-me.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  font-family: Lobster;
  font-size: 50px;
  color: rgb(22, 55, 37);
  text-shadow: 2px 2px 2px rgb(72, 238, 128);
}

form {
  margin-left: 20px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.name-layout {
  display: flex;
  flex-wrap: wrap;
}

footer {
  background-color: rgb(40, 42, 42);
  margin-top: 20px;
}
