body {
  margin: 0px;
  height: 1000px;
  background-image: linear-gradient(rgba(200, 55, 55, 0), rgba(200, 55, 55, 1));
  background-repeat: no-repeat;
  background-size: cover;
}

navbar ul li {
  display: inline-block;
}
li a {
  padding: 10px;
  margin: 0px;
  font-family: Josefin Sans;
  font-size: 20px;
  color: rgb(56, 64, 227);
  text-decoration: none;
  transition-duration: 0.7s;
}

li a:hover {
  background-color: rgb(78, 21, 132);
  text-decoration: none;
  border-radius: 10%;
  color: aquamarine;
}

navbar ul {
  position: fixed;
  background-color: rgb(179, 203, 225);
  border-bottom: 2px solid #ccc;
  padding: 10px;
  right: 50px;
  z-index: 1;
}

.header {
  padding: 100px;
  padding-top: 60px;
  margin: 0px;
  background-image: url(contact-me.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  font-family: Lobster;
  font-size: 50px;
  color: rgb(22, 55, 37);
  text-shadow: 2px 2px 2px rgb(72, 238, 128);
  z-index: -1;
}

.input-box {
  padding: 70px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  margin-top: 0px;
  margin: 10px;
  background-color: rgb(58, 159, 217);
  /*border: rgb(0, 0, 0) solid 2px;*/
  box-shadow: rgb(65, 63, 63) 2px 2px 2px;
  border-radius: 8%;
  position: absolute;
  left: 220px;
  top: 300px;
  font-family: Josefin Sans;
}

.input-box:hover {
  box-shadow: rgb(65, 63, 63) 4px 4px 8px;
}

form div {
  font-size: 20px;
  font-family: Josefin Sans;
  font-weight: 600;
  color: rgb(4, 17, 112);
  margin-top: 15px;
}

input {
  outline: none;
  font-family: Josefin Sans;
  font-size: 20px;
  width: 200px;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.social-box {
  /*background-color: rgb(40, 42, 42);*/
  background-color: rgb(12, 48, 69);
  border-radius: 8%;
  margin: 20px;
  padding: 20px;
  box-shadow: rgb(65, 63, 63) 2px 2px 2px;
  color: rgb(50, 197, 148);
  font-family: Josefin Sans;
  font-size: 20px;
  position: absolute;
  top: 290px;
  left: 730px;
  z-index: 0;
}

.social-box:hover {
  box-shadow: rgb(65, 63, 63) 4px 4px 8px;
}

.social-box img {
  width: 20px;
  margin-right: 5px;
}
.social-box div {
  padding: 20px;
}
.social-box a {
  text-decoration: none;
  color: blanchedalmond;
  font-family: Josefin Sans;
  font-size: larger;
}

.submit {
  background-color: green;
  border-radius: 35px;
  padding: 10px;
  padding-left: 78px;
  padding-right: 78px;
  margin-left: 0px;
  text-decoration: none;
  color: aqua;
  position: absolute;
  font-size: 20px;
  transition-duration: 0.3s;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 9px #999;
}

.submit:hover {
  background-color: #19db20;
  color: rgb(19, 52, 52);
}

@media (max-width: 1156px) {
  .social-box {
    top: 1000px;
    left: 175px;
  }
  .input-box {
    left: 160px;
  }
  body {
    height: 1500px;
  }
}
