body {
  background-image: linear-gradient(rgb(87, 242, 242), rgb(16, 16, 99));
  height: 900px;
}

h1 {
  color: rgb(238, 230, 125);
  text-align: center;
  padding: 290px;
  font-family: Josefin Sans;
}
