* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: rgb(113, 193, 193);
  background-image: url(background.png);
  background-repeat: repeat-y;
  background-size: contain;
}
.prof-pic {
  float: left;
  width: 500px;
  margin-right: 30px;
  border: 5px solid rgb(10, 52, 135);
  border-radius: 5%;
  margin-left: 50px;
  margin-top: 50px;
}

.name {
  margin-top: 10px;
  padding-top: 170px;
  padding-left: 0px;
  font-family: Aboreto, monospace;
  font-size: 70px;
  text-shadow: 2px 2px 2px gray;
}

.fade-in {
  animation: fadeIn 7s, flashtext 0.3s step-start infinite;
  font-family: Josefin Sans;
  font-size: 40px;
  color: rgb(2, 20, 40);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*@keyframes flashtext {
  0% {
    color: rgb(174, 232, 206);
  }
  17% {
    color: rgb(117, 242, 198);
  }
  33% {
    color: rgb(37, 203, 170);
  }
  50% {
    color: rgb(26, 96, 153);
  }
  67% {
    color: blue;
  }
  83% {
    color: indigo;
  }
  100% {
    color: rgb(39, 8, 93);
  }
}*/
.blink {
  animation: blinker 1s step-start infinite;
  font-family: Josefin Sans;
  font-size: 40px;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
navbar {
  margin-top: 70px;
}
navbar ul li {
  display: inline-block;
}
li a {
  padding: 20px;
  margin: 0px;
  font-family: Josefin Sans;
  font-size: 20px;
  color: rgb(56, 64, 227);
  text-decoration: none;
  transition-duration: 0.7s;
}

li a:hover {
  background-color: rgb(78, 21, 132);
  text-decoration: none;
  border-radius: 10%;
  color: aquamarine;
}

navbar ul {
  position: fixed;
  background-color: rgb(179, 203, 225);
  border-bottom: 2px solid #ccc;
  padding: 20px;
  right: 50px;
}
.sub-header {
  font-family: Lobster;
  font-size: 50px;
  color: rgb(22, 55, 37);
  text-align: center;
  text-shadow: 2px 2px 2px rgb(72, 238, 128);
}
.about-data {
  display: flex;
  flex-wrap: wrap;
  font-family: Playfair Display;
  font-weight: bolder;
  font-size: 20px;
  color: rgb(45, 16, 150);
  padding-top: 50px;
}

.about-data div {
  flex-basis: 50%;
  color: rgb(230, 230, 22);
  background-color: rgb(230, 230, 22);
}

.about-data div:hover {
  border: rgb(226, 34, 34) 3px solid;
  flex-basis: 50%;
  background-color: rgb(11, 33, 65);
  color: rgb(93, 245, 106);
}

.timeline-img {
  width: 1000px;
  justify-content: center;
  margin-left: 245px;
}

.timeline {
  display: flex;
  flex-basis: 25%;
  font-family: Josefin Sans;
  font-weight: bold;
  font-size: 20px;
  height: 100px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 10px;
}

.card {
  box-shadow: 2px 4px 2px gray;
  transition-duration: 0.3s;
  display: inline-block;
  margin-left: 345px;
  margin-top: 100px;
}

.card:hover {
  box-shadow: 4px 8px 4px gray;
}

.card-contain {
  padding: 10px;
  background-color: #ccc;
  font-family: Roboto Mono;
  font-size: 15px;
}

div a:link {
  color: rgb(16, 12, 71);
  text-decoration: none;
}

div a:visited {
  color: rgb(16, 12, 71);
  text-decoration: none;
}
.space1 {
  height: 333px;
}
.space2 {
  height: 32px;
}
footer pre {
  font-size: 20px;
  font-family: fantasy;
}

@media (max-width: 1030px) {
  .prof-pic {
    float: none;
  }
  .name {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }
  .fade-in {
    text-align: center;
    display: block;
  }
}

@media (max-width: 550px) {
  .prof-pic {
    width: 50%;
  }
}
